vendor/
.vscode/
.*.un~
*.data
*.db
debug

#############
## Python
#############

*.py[co]

# Packages
*.egg
*.egg-info
dist/
build/
eggs/
parts/
var/
sdist/
develop-eggs/
.installed.cfg

# web
wxapp/node_modules/
wxapp/dist/
