<!DOCTYPE html>
<html lang="en">
    <head>
        <title>测试游戏逻辑</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
        <script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
        <script src="/jquery.simple.websocket.min.js"></script>
    </head>
    <body>
        <div class="client" id="test1">
            <textarea rows="10" cols="30"></textarea>
            <button class="connect">链接</button>
            <button class="dismiss">反对任务</button>
            <button class="argmiss">赞成任务</button>
            <button class="dis">反对选人</button>
            <button class="argee">赞成选人</button>
            <button class="send_msg">发送消息</button>
            <button class="send_spe">发送演讲</button>
            <button class="send_team">发送选择队员</button>
            <button class="getuser">获取用户信息</button>
            <div class="dashbord"></div>
        </div>
        <div class="client" id="test2">
            <textarea rows="10" cols="30"></textarea>
            <button class="connect">链接</button>
            <button class="dismiss">反对任务</button>
            <button class="argmiss">赞成任务</button>
            <button class="dis">反对选人</button>
            <button class="argee">赞成选人</button>
            <button class="send_msg">发送消息</button>
            <button class="send_spe">发送演讲</button>
            <button class="send_team">发送选择队员</button>
            <button class="getuser">获取用户信息</button>
            <div class="dashbord"></div>
        </div>
        <div class="client" id="test3">
            <textarea rows="10" cols="30"></textarea>
            <button class="connect">链接</button>
            <button class="dismiss">反对任务</button>
            <button class="argmiss">赞成任务</button>
            <button class="dis">反对选人</button>
            <button class="argee">赞成选人</button>
            <button class="send_msg">发送消息</button>
            <button class="send_spe">发送演讲</button>
            <button class="send_team">发送选择队员</button>
            <button class="getuser">获取用户信息</button>
            <div class="dashbord"></div>
        </div>
        <div class="client" id="test4">
            <textarea rows="10" cols="30"></textarea>
            <button class="connect">链接</button>
            <button class="dismiss">反对任务</button>
            <button class="argmiss">赞成任务</button>
            <button class="dis">反对选人</button>
            <button class="argee">赞成选人</button>
            <button class="send_msg">发送消息</button>
            <button class="send_spe">发送演讲</button>
            <button class="send_team">发送选择队员</button>
            <button class="getuser">获取用户信息</button>
            <div class="dashbord"></div>
        </div>
        <div class="client" id="test5">
            <textarea rows="10" cols="30"></textarea>
            <button class="connect">链接</button>
            <button class="dismiss">反对任务</button>
            <button class="argmiss">赞成任务</button>
            <button class="dis">反对选人</button>
            <button class="argee">赞成选人</button>
            <button class="send_msg">发送消息</button>
            <button class="send_spe">发送演讲</button>
            <button class="send_team">发送选择队员</button>
            <button class="getuser">获取用户信息</button>
            <div class="dashbord"></div>
        </div>
        <script>
            var sockets = {
            }
            var client = $(".client")
            var connection = client.children(".connect");
            var dismiss = client.children(".dismiss")
            var argmiss = client.children(".argmiss")
            var dis = client.children(".dis")
            var argee = client.children(".argee")
            var send_msg = client.children(".send_msg")
            var send_spe = client.children(".send_spe")
            var getuser = client.children(".getuser")
            connection.on("click", function(){
                var clientName = $(this).parent(".client").attr("id")
                var clientBox = $(this).parent(".client")
                var socket = new WebSocket('ws://localhost:3000/game/testroom/test?thirdKey='+clientName); 
            // 打开Socket 
                socket.onopen = function(event) { 
                    // 监听消息
                    socket.onmessage = function(event) { 
                        console.log(clientName + ':Client received a message: '+event.data); 
                        clientBox.children('.dashbord').append("<p>"+event.data+ ";"+"</p>")
                    }; 

                    // 监听Socket的关闭
                    socket.onclose = function(event) { 
                        console.log('Client notified socket has closed',event); 
                    }; 

                    // 关闭Socket.... 
                    //socket.close() 
                };
                sockets[clientName] = socket
            })
            send_msg.on("click", function(){
                var clientName = $(this).parent(".client").attr("id")
                textArea = send_msg.parent(".client").children("textarea")
                msg = {
                    from:clientName,
                    eventName:"CHAT",
                    body:textArea.val()
                }
                var s = sockets[clientName]
                s.send(JSON.stringify(msg))
            })
            send_spe.on("click",function(){
                var clientName = $(this).parent(".client").attr("id")
                textArea = send_msg.parent(".client").children("textarea")
                msg = {
                    from:clientName,
                    eventName:"SPEECH",
                    body:textArea.val()
                }
                var s = sockets[clientName]
                s.send(JSON.stringify(msg))
            })
            dis.on("click", function(){
                var clientName = $(this).parent(".client").attr("id")
                msg = {
                    from:clientName,
                    eventName:"CAPVOTE",
                    body:"False"
                }
                var s = sockets[clientName]
                s.send(JSON.stringify(msg))
            })
            argee.on("click",function(){
                var clientName = $(this).parent(".client").attr("id")
                msg = {
                    from:clientName,
                    eventName:"CAPVOTE",
                    body:"True"
                }
                var s = sockets[clientName]
                s.send(JSON.stringify(msg))
            })
            dismiss.on("click", function(){
                var clientName = $(this).parent(".client").attr("id")
                msg = {
                    from:clientName,
                    eventName:"MISSIONVOTE",
                    body:"False"
                }
                var s = sockets[clientName]
                s.send(JSON.stringify(msg))
 
            })
            argmiss.on("click", function(){
                var clientName = $(this).parent(".client").attr("id")
                msg = {
                    from:clientName,
                    eventName:"MISSIONVOTE",
                    body:"True"
                }
                var s = sockets[clientName]
                s.send(JSON.stringify(msg))
            })
        </script>
    </body>
</html>
